.input-quantity {
    width: 40px;
    margin: 0;
    padding: 3px 5px 3px 5px;
}

#ValuesArePerItem {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 10px 0 6px 0;
    padding: 5px;
    width: 20px;
}

#favouritesTableDiv {
    /*border: 1px solid #000000;*/
    width: 30%;
    float: right;
}

#foodTableDiv {
    /*border: 1px solid #000000;*/
    width: 60%;
    float: left;
}