.input-quantity {
    width: 45px;
    margin: 0;
    padding: 3px 5px 3px 5px;
}

#ValuesArePerItem {
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.2em;
    margin: 10px 0 6px 0;
    padding: 5px;
    width: 20px;
}

#favouritesTableDiv {
    width: 40%;
    float: right;
}

#mealsTableDiv {
    width: 40%;
    float: left;
    margin-bottom: 10px;
}

#foodTableDiv {
    width: 60%;
    float: left;
}

#macroTableDiv {
    width: 60%;
    float: left;
}

#microTableDiv {
    width: 40%;
    float: right;
}
